name: Deploy
on:
  workflow_call:
      inputs:
        artifact-name:
          description: "Artifact name"
          type: string
          required: true
jobs:
  deploy:
      runs-on: ubuntu-latest
      steps:
        - name: "Get code"
          uses: actions/download-artifact@v5
          with:
            name: ${{ inputs.artifact-name }}
        - name: "Deploy"
          run: echo "Deploy..."
